@model CourseCreateVM


@{
    ViewData["Title"] = "Create";
}



<div class="container my-5">
    <span class="text-danger">@ViewBag.error </span>

    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="my-2">Name</label>
            <input class="form-control" id="customFile" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Description</label>
            <textarea class="form-control" id="description-text" asp-for="Description" rows="5"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Price</label>
            <input type="number" class="form-control" id="customFile" asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div class="form-group">
            <label class="my-2">Sales</label>
            <input class="form-control" id="customFile" asp-for="Sales" />
            <span class="text-danger" asp-validation-for="Sales"></span>
        </div>
        <div class="form-group">
            <label class="my-2">CourseAuthor</label>                               @*categoriyalari value-text mentiqinde yigir*@
            <select class="form-control" id="customFile" asp-for="CourseAuthorId" asp-items="@ViewBag.authors"></select>
        </div>
        <div class="form-group">
            <label class="my-2">Images</label>
            <input class="form-control" id="customFile" asp-for="Photos" />
            <span class="text-danger" asp-validation-for="Photos"></span>
        </div>







        <div class="button my-3">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a class="btn btn-light" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>



@section Scripts{

    <partial name="_ValidationScriptsPartial"> </partial>
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("description-text");

    </script>

}