@model Event
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h1>Slider Detail</h1>

    @*<div class="slider-content">
        <img src="~/images/@Model.Image" />
    </div>*@

     <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Location
                          </th>
                          
                          <th>
                            Date
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                     
                        
                        
                             <tr>
                          <td class="py-1">
                           @Model.Name
                          </td>
                          <td>
                            
                              @Model.Location
                          
                             
                          </td>
                          <td>

                           @Model.Date
 
                          </td>

                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
</div>

