
@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">

 <label class="form-label" for="customFile">Slider</label>
 <input type="file" class="form-control" id="customFile" />


  <div class="form-group col-md-6">
     <div class="my-5">
          <label for="inputEmail4">Slider Name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Slider Name">
    </div>
     </div>

    
 <button type="submit" class="btn btn-primary mr-2" >Submit</button>
 <a class="btn btn-light" asp-action="Index">Cancel</a>



</div>


<h1>Create</h1>

