@model Slider
@{
    ViewData["Title"] = "Detail";
}

<div class="container">
    <h1>Slider Detail</h1>

    @*<div class="slider-content">
        <img src="~/images/@Model.Image" />
    </div>*@

     <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Image
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Description
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                       <a class="btn btn-outline-info" style="float:right;">Create </a>
                        
                        
                             <tr>
                          <td class="py-1">
                            <img src="~/images/@Model.Image" style="width:70px ; height:70px;" />
                          </td>
                          <td>
                            
                              @Model.Title
                          
                             
                          </td>
                          <td>

                           @Model.Description
 
                          </td>

                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
</div>

